<footer class="bg-white dark:bg-slate-900 border-t border-gray-400 shadow">
    <div class="container max-w-4xl mx-auto flex py-8">
        <div class="w-full mx-auto flex flex-wrap">
            <div class="flex w-full md:w-1/2 ">
                <div class="px-8">
                    <h3 class="font-bold text-gray-900 dark:text-white">About</h3>
                    <p class="py-4 text-gray-600 dark:text-slate-400 text-sm">
                        A full-stack web developer from Essex working with PHP, Vue & typescript.
                    </p>
                </div>
            </div>

            <div class="flex w-full md:w-1/2 justify-end">
                <div class="px-8">
                    <h3 class="font-bold text-gray-900 dark:text-white">Related work</h3>
                    <ul class="list-reset items-center text-sm pt-3 text-right">
                        <li>
                            <a
                                target="_blank"
                                href="https://jamesdordoy.co.uk"    
                                class="inline-block text-gray-600 dark:text-slate-400 no-underline hover:text-gray-900 hover:text-underline py-1">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a
                                target="_blank"
                                href="https://github.com/jamesdordoy"
                                class="inline-block text-gray-600 dark:text-slate-400 no-underline hover:text-gray-900 hover:text-underline py-1">
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a
                                target="_blank"
                                href="https://twitter.com/jdordoy"    
                                class="inline-block text-gray-600 dark:text-slate-400 no-underline hover:text-gray-900 hover:text-underline py-1">
                                Twitter
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>