.post-content {

}

.post-content p {
    @apply dark:text-slate-400;
}

/* Toggle B */
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
}

#progress {
    background: linear-gradient(to right, #F9EC31 var(--scroll), transparent 0);
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 4px;
    z-index: 1;
}